<!doctype html>
<html lang="en">

<head>
{{>headerlinks}}
</head>
<body>

{{>navbar}}

    <!-- main header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-16 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404 error.png" alt="Gourav" class="img-fluid" title="GOUARV ">
                        </figure>
                

                        <p>Welcome to weather app</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" ><button>Go back</button></a>


                    </div>


                </div>



            </div>
        </div>

    </div>

    <!-- footer code -->
{{>footer}}










</body>

</html>