<!doctype html>
<html lang="en">

<head>
{{>headerlinks}}
</head>
<body>

{{>navbar}}

    <!-- main header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/img.png" alt="Gourav" class="img-fluid" title="GOUARV ">
                        </figure>
                    </div>
                    <!-- right side div -->

                    <div class="col-md-6 col-12 main_header_left">

                        <p>Welcome to GouravWeather app</p>
                        <h1>I'm a <span class="text-clr">NITIAN</span> MERN DEVELOPER</h1>
                        <a href="https://www.linkedin.com/in/gouravmajumder2102/" target="_gourav"><button>About me</button></a>


                    </div>


                </div>



            </div>
        </div>

    </div>

    <!-- footer code -->
{{>footer}}










</body>

</html>